<!DOCTYPE html>
<!-- Comments go here -->
<!-- <header> <section> <article> <aside> <footer> -->
<html lang="en-us" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Title of this page - change this</title>
        <link href="main.css" rel="stylesheet">
        <script src="my-js-scriptfile.js" defer></script>
    </head>
    <body>
        <main>
            <header>

            </header>

            <article>

            </article>



            <footer>
                <p>a menster page</p>
            </footer>
        </main>
    </body>



</html>